In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# My computer does not seem to store imports all the time?

In [17]:
pwd

'C:\\Users\\micha\\Documents\\NSS_Projects\\un-exploration-michaeltatarjr\\notebook'

In [25]:
gdp_df = pd.read_csv('../data/gdp_per_capita.csv')

# Note that it took a minute to import correctly. Use 'tab' button to help correctly import

In [26]:
gdp_df.head

<bound method NDFrame.head of      Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]>

In [27]:
gdp_df.shape

(7176, 4)

In [28]:
gdp_df['Value Footnotes'].drop

<bound method Series.drop of 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7171   NaN
7172   NaN
7173   NaN
7174   NaN
7175   NaN
Name: Value Footnotes, Length: 7176, dtype: float64>

# Note that after some work, I correctly coded to drop the column 'Value_Footnotes'. However, I needed to save it as a new dataframe?

In [30]:
gdp_df.shape

(7176, 4)

In [31]:
gdp_df.head

<bound method NDFrame.head of      Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]>

# Note that in both cases above is shows the original dataframe

In [6]:
gdp_df.head

<bound method NDFrame.head of      Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]>

In [32]:
gdp_df.drop('Value Footnotes', axis=1)

     Country or Area  Year        Value
0        Afghanistan  2020  1970.560169
1        Afghanistan  2019  2065.036235
2        Afghanistan  2018  2033.804389
3        Afghanistan  2017  2058.400221
4        Afghanistan  2016  2057.067978
...              ...   ...          ...
7171        Zimbabwe  1994  2603.927369
7172        Zimbabwe  1993  2420.092791
7173        Zimbabwe  1992  2437.152908
7174        Zimbabwe  1991  2733.696626
7175        Zimbabwe  1990  2652.129209

[7176 rows x 3 columns]

In [33]:
gdp_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_Per_Capita'})

          Country  Year  GDP_Per_Capita  Value Footnotes
0     Afghanistan  2020     1970.560169              NaN
1     Afghanistan  2019     2065.036235              NaN
2     Afghanistan  2018     2033.804389              NaN
3     Afghanistan  2017     2058.400221              NaN
4     Afghanistan  2016     2057.067978              NaN
...           ...   ...             ...              ...
7171     Zimbabwe  1994     2603.927369              NaN
7172     Zimbabwe  1993     2420.092791              NaN
7173     Zimbabwe  1992     2437.152908              NaN
7174     Zimbabwe  1991     2733.696626              NaN
7175     Zimbabwe  1990     2652.129209              NaN

[7176 rows x 4 columns]

In [34]:
gdp_df.head(11)

   Country or Area  Year        Value  Value Footnotes
0      Afghanistan  2020  1970.560169              NaN
1      Afghanistan  2019  2065.036235              NaN
2      Afghanistan  2018  2033.804389              NaN
3      Afghanistan  2017  2058.400221              NaN
4      Afghanistan  2016  2057.067978              NaN
5      Afghanistan  2015  2068.265904              NaN
6      Afghanistan  2014  2102.384604              NaN
7      Afghanistan  2013  2116.465258              NaN
8      Afghanistan  2012  2075.491614              NaN
9      Afghanistan  2011  1904.559926              NaN
10     Afghanistan  2010  1957.029070              NaN

In [35]:
gdp_df.drop('Value Footnotes', axis=1)

     Country or Area  Year        Value
0        Afghanistan  2020  1970.560169
1        Afghanistan  2019  2065.036235
2        Afghanistan  2018  2033.804389
3        Afghanistan  2017  2058.400221
4        Afghanistan  2016  2057.067978
...              ...   ...          ...
7171        Zimbabwe  1994  2603.927369
7172        Zimbabwe  1993  2420.092791
7173        Zimbabwe  1992  2437.152908
7174        Zimbabwe  1991  2733.696626
7175        Zimbabwe  1990  2652.129209

[7176 rows x 3 columns]

In [36]:
gdp_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_Per_Capita'})

          Country  Year  GDP_Per_Capita  Value Footnotes
0     Afghanistan  2020     1970.560169              NaN
1     Afghanistan  2019     2065.036235              NaN
2     Afghanistan  2018     2033.804389              NaN
3     Afghanistan  2017     2058.400221              NaN
4     Afghanistan  2016     2057.067978              NaN
...           ...   ...             ...              ...
7171     Zimbabwe  1994     2603.927369              NaN
7172     Zimbabwe  1993     2420.092791              NaN
7173     Zimbabwe  1992     2437.152908              NaN
7174     Zimbabwe  1991     2733.696626              NaN
7175     Zimbabwe  1990     2652.129209              NaN

[7176 rows x 4 columns]

In [38]:
last_10_rows= gdp_df[-11:]
print(last_10_rows)

     Country or Area  Year        Value  Value Footnotes
7165        Zimbabwe  2000  2771.060576              NaN
7166        Zimbabwe  1999  2872.714795              NaN
7167        Zimbabwe  1998  2915.052992              NaN
7168        Zimbabwe  1997  2856.118188              NaN
7169        Zimbabwe  1996  2808.558556              NaN
7170        Zimbabwe  1995  2573.993785              NaN
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

In [40]:
gdp_df.shape

(7176, 4)

In [50]:
gdp_df.type

AttributeError: 'DataFrame' object has no attribute 'type'

In [48]:
gdp_df['Year'].unique()

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990], dtype=int64)

In [51]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7176 entries, 0 to 7175
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7176 non-null   object
 1   Year             7176 non-null   int64
 2   Value            7176 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 224.4+ KB

In [52]:
gdp_df.count()

Country or Area    7176
Year               7176
Value              7176
Value Footnotes       0
dtype: int64

# Note below here, I started saving as new Dataframes

In [56]:
GDP_Dropped=gdp_df.drop('Value Footnotes', axis=1)

In [57]:
GDP_Dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7176 entries, 0 to 7175
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7176 non-null   object
 1   Year             7176 non-null   int64
 2   Value            7176 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 168.3+ KB

In [58]:
gdp_DandR = GDP_Dropped.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_Per_Capita'})

In [59]:
gdp_DandR.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2020     1970.560169
1  Afghanistan  2019     2065.036235
2  Afghanistan  2018     2033.804389
3  Afghanistan  2017     2058.400221
4  Afghanistan  2016     2057.067978

# Note that there are both unique countries, but also non-country entries in the array below

In [61]:
gdp_DandR['Country'].unique()

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Arab World', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', "CÃƒÂ´te d'Ivoire", 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', 'Croatia', 'CuraÃƒÂ§ao', 'Cyprus', 'Czech Republic',
       'Dem. Rep. Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Euro area', 'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union', 'Fiji',
       'Finland', 'Fragile and conflict affected situations', 'France',
       'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'Iceland', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Korea', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low & middle income',
       'Low income', 'Lower middle income', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Norway', 'OECD members', 'Oman',
       'Other small states', 'Pacific island small states', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'SÃƒÂ£o TomÃƒÂ© and Principe', 'Samoa',
       'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovak Republic', 'Slovenia', 'Small states', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Asia', 'South Asia (IDA & IBRD)',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'TÃƒÂ¼rkiye', 'Tajikistan', 'Tanzania', 'Thailand',
       'The Bahamas', 'The Gambia', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vietnam', 'West Bank and Gaza', 'World', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [67]:
gdp_DandR['Country'].agg(['count', 'nunique',])

count      7176
nunique     242
Name: Country, dtype: int64

In [68]:
gdp_DandR.value_counts()

Country       Year  GDP_Per_Capita
Afghanistan   2002  1189.784668       1
OECD members  2018  44099.951717      1
Nigeria       2000  2977.041475       1
              1999  2906.723968       1
              1998  2962.892112       1
                                     ..
Ghana         2014  4794.147084       1
              2013  4769.072559       1
              2012  4548.579354       1
              2011  4261.620748       1
Zimbabwe      2020  2134.555461       1
Length: 7176, dtype: int64

In [69]:
gdp_DandR['Year'].value_counts()

2018    242
2017    242
2016    242
2015    242
2014    242
2013    242
2019    241
2020    240
2012    240
2011    240
2010    239
2009    239
2008    238
2007    237
2006    237
2004    236
2005    236
2003    235
2002    235
2001    234
2000    233
1999    227
1998    226
1997    226
1996    222
1995    222
1994    211
1993    209
1992    208
1991    207
1990    206
Name: Year, dtype: int64

In [70]:
gdp_DandR['Country'].value_counts()

Least developed countries: UN classification    31
Niger                                           31
Middle East & North Africa (IDA & IBRD)         31
Middle income                                   31
Mongolia                                        31
                                                ..
Kosovo                                          13
Turks and Caicos Islands                        10
Sint Maarten (Dutch part)                       10
Somalia                                          8
Djibouti                                         8
Name: Country, Length: 242, dtype: int64

In [79]:
GDP_DNR_2014 = gdp_DandR['Year'] == '2014'

In [77]:
print(GDP_DNR_2014)

0       False
1       False
2       False
3       False
4       False
        ...
7171    False
7172    False
7173    False
7174    False
7175    False
Name: Year, Length: 7176, dtype: bool

In [83]:
gdp_df.describe('GDP_Per_Capita')

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'